[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

*.cshtml.g.cs

*.dll.config

*.pdb

*.suo
*.user
*.userosscache
*.sln.docstates

.idea/
*.iws
*.iml
*.ipr

[Pp]ackages/

.nuget/

*.csproj.nuget.g.props
*.csproj.nuget.g.targets
.vs/

*.log
*.env
.env.local

.DS_Store

Thumbs.db